# Your monorepo packages can depend on each other, but how does pnpm decide if you mean the local version of a dependency 
# (allowing symlinking right to the source) versus a specific past version (requiring downloading separate files)? 
# pnpm provides a few ways to handle this, but setting this option to false is the most predictable and explicit.
#And that means fewer surprises! This option tells pnpm to only resolve local deps to the local files when the workspace: protocol is used, 
# and to otherwise download published versions.
link-workspace-packages=false
